<!DOCTYPE html>
<html lang="en_US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign in for BxlContact</title>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <!-- Custom styles for this template -->
    <link href="/stylesheets/login.css" rel="stylesheet">

</head>

<body class="text-center">
    <form class="form-signin" method="post" action="/do/sign">
        <img class="mb-4" src="/images/logo.png" alt="" width="200" height="200">
        <label class="sr-only" text="username"></label>
        <input name="username" type="text" class="form-control" placeholder="username" required="" autofocus="">
        <label class="sr-only" text="password"></label>
        <input name="password" type="password" class="form-control" placeholder="password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2021-2022</p>
    </form>

</body>

</html>