<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sign in</title>
</head>

<body>
    <h1>Sign in</h1>
    <form id="signup" method="post" action="/users/do/sign">
        <label>   username：</label><input type="text" name="username" />
        <label>   password：</label><input type="text" name="email" />
        <input type="submit" value="signup" /><br>
    </form>
</body>

</html>